<style type="text/css" media="screen">
  * {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }

  body, html {
    padding: 3px 3px 3px 3px;

    background-color: #D8DBE2;

    font-family: Verdana, sans-serif;
    font-size: 11pt;
    text-align: center;
  }

  div.page_header {
    width: 100%;
    background-color: #F5F6F7;
    position: fixed;
    top: 0;
  }
  div.note {
    font-size: 8pt;
  }
  table.rrd_graph {
    width: 950;
  }
</style>
